# **Sagaciti Ai assignment**

# #Assignment-2

#String, Variable declaration:

#1. Write a Python program which accepts the radius of a circle from the user and compute 
the area.
Sample:
r = 1.1
Area = 3.801327110843650

In [ ]:
r=float(input())
pi=3.14165
print(pi*r*r) #perfect value not came

1.1
3.8013965000000005

#2. Write a Python program which accepts the user's first and last name and print them in 
reverse order with a space between them.

Sample:
Input your First Name: Dany

Input your Last Name: Boon
 
Hello Boon Dany

In [ ]:
first_name=input("Input your First Name: ")
last_name=input("Input your Last Name: ")
print("Hello",last_name,first_name)

Input your First Name: Dany
Input your Last Name: Boon
Hello Boon Dany

#3. Write a Python program to calculate the length of a string.

Sample String: Bangladesh

Expected Result: 10

In [ ]:
string=input()
print(len(string))

Bangladesh
10

#4. Write a Python program to count the number of characters (character frequency) in a string.
Sample String: google.com'

Expected Result: {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
sentence1 =input()
count = {}
for i in sentence1:
    if i in count:
        count[i.lower()] = count[i.lower()] + 1
    else:
        count[i.lower()] = 1
print(count)

google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
#another solution by function
def solve(string):
  output={}
  for i in string:
    keys=output.keys()
    if i not in keys:
      output[i.lower()]=1
    else:
      output[i.lower()]+=1
  return output
x=input()
print(solve(x))

google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

#5. Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

Sample String: 'abc', 'xyz'

Expected Result: 'xyc abz

In [ ]:
a,b=input().split()
x=b[:2]+a[2:]
y=a[:2]+b[2:]
print(x,y)

abc xyz
xyc abz

#6. Write a Python program to add 'ing' at the end of a given string (length should be at least 3) If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged.
Sample String: 'abc'

Expected Result: 'abcing'

Sample String: 'string'


Expected Result: 'stringly'

In [ ]:
x=input()
if x[-3:]=="ing":
  print(x+"ly")
else:
  print(x+"ing")

string
stringly

#List:
##7. Write a Python program to sum all the items in a list.
Sample: [2,3,4,5,6,7]

Expected Result: 27

In [ ]:
n=int(input("how many numbers you want in list?: "))
list1=[]
for i in range(n):
  list1.append(int(input()))
print("Your list is:",list1)  
sum_list1=0
for i in list1:
  sum_list1+=i
print("sum of list is :",sum_list1)

how many numbers you want in list?: 5
2
3
4
5
6
Your list is: [2, 3, 4, 5, 6]
sum of list is : 20

# 8. Write a Python program to multiply all the items in a list.
Sample: [1,2,3,4,5]

Expected Result: 120

In [ ]:
n=int(input("How many numbers you want in list?: "))
list1=[]
for i in range(n):
  list1.append(int(input()))
print("Your list is :",list1)
sum_list=1
for i in list1:
  sum_list*=i
print("sum of list is :",sum_list)

How many numbers you want in list?: 5
1
2
3
4
5
Your list is : [1, 2, 3, 4, 5]
sum of list is : 120

#9. Write a Python program to get the largest number from a list.

In [ ]:
n=int(input("How many numbers you want in list?: "))
list1=[]
for i in range(n):
  list1.append(int(input()))
print("Your list is :",list1)
list1.sort()
print("The largest number is:",list1[n-1])

How many numbers you want in list?: 5
1
2
3
4
5
Your list is : [1, 2, 3, 4, 5]
The largest number is: 5

#10. Write a Python program to remove duplicates from a list.

In [ ]:
n=int(input("How many numbers you want in list?: "))
list1=[]
for i in range(n):
  list1.append(int(input()))
print("Your list is :",list1)
result=[]
for i in list1:
  if i not in result:
    result.append(i)
print("Your list without duplicate",result)

How many numbers you want in list?: 4
1
2
4
4
Your list is : [1, 2, 4, 4]
Your list without duplicate [1, 2, 4]

#11. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List: ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Expected Output: ['Green', 'White', 'Black']

In [ ]:
n=int(input("How many numbers you want in list?: "))
list1=[]
for i in range(n):
  list1.append((input()))
print("Your list is :",list1)
del list1[0]
list1.pop(len(list1)-1)
list1.pop(len(list1)-1)
print(list1)

How many numbers you want in list?: 6
"red"
"green"
"white"
"black"
"pink"
"yellow"
Your list is : ['"red"', '"green"', '"white"', '"black"', '"pink"', '"yellow"']
['"green"', '"white"', '"black"']

#12. Write a Python program to create a list by concatenating a given list which range goes 
from 1 to n.

Sample list: ['p', 'q']

n =5

Output: ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [ ]:
num=int(input("How many numbers you want in list?: "))
list1=[]
for i in range(num):
  list1.append((input()))
print("Your list is :",list1)
list2=[]
n=int(input("Enter a number: "))
p=1
while p<=(n):
    for i in list1:
     
        z=str(p)
        
        list2.append(i+z)
    p+=1
print(list2)

How many numbers you want in list?: 2
p
q
Your list is : ['p', 'q']
Enter a number: 5
['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

#13. Write a Python program to change the position of every n-th value with the (n+1) th in a list. 
Sample list: [0,1,2,3,4,5]

Expected Output: [1, 0, 3, 2, 5, 4]

In [ ]:
from itertools import zip_longest, chain, tee
def replace2copy(lst):
    lst1, lst2 = tee(iter(lst), 2)
    return list(chain.from_iterable(zip_longest(lst[1::2], lst[::2])))
num=int(input("How many numbers you want in list?: "))
list1=[]
for i in range(num):
  list1.append(int(input()))

print(replace2copy(list1))

How many numbers you want in list?: 6
0
1
2
3
4
5
[1, 0, 3, 2, 5, 4]

#14. Write a Python program to select the odd items of a list.

In [ ]:
num=int(input("How many numbers you want in list?: "))
list1=[]
for i in range(num):
  list1.append(int(input()))
print("Your list is :",list1)
list2=[]
for i in list1:
  if i%2!=0:
    list2.append(i)
print(list2)

How many numbers you want in list?: 10
1
2
3
4
5
6
7
8
9
10
Your list is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

#Condition:
#15. Write a python program to get the absolute difference between n and 51. If n is greater than 51 return triple the absolute difference.
Expected Output:

6

21

0

In [ ]:
# I can't realise this problem.So I could not do this problem.

#16. Write a python program to check whether a given number is even or odd. 
Sample input: 15

Expected Output: 15 is an odd integer

In [ ]:
n=int(input())
if n%2==0:
  print(n,"is even number.")
else:
  print(n,"is odd number.")

15
15 is odd number.

#17. Write a python program to find whether a given year is a leap year or not
Sample input: 2016

Expected Output: 2016 is a leap year.

In [ ]:
n=int(input())
if n%4==0 or n%400==0:
  print(n,"is a leap year.")
else:
  print(n,"is not a leap year.")

2016
2016 is a leap year.

#18. Write a python program to read the age of a candidate and determine whether it is eligible for casting his/her own vote

Sample input: 21

Expected Output: Congratulation! You are eligible for casting your vote.

In [ ]:
n=int(input())
if n>0:
  if n<18:
    print("You are not eligible for vote.")
  else:
    print("Congratulation! You are eligible for casting your vote.")
else:
  print("please input correct age.")

18
Congratulation! You are eligible for casting your vote.

#19. Write a python program to find the largest of three numbers.
Sample input: 12 25 52

Expected Output:

1st Number = 12, 2nd Number = 25, 3rd Number = 52

The 3rd Number is the greatest among three

In [ ]:
a,b,c=input().split()
x=int(a)
y=int(b)
z=int(c)
print("1st Number =",x,", 2nd Number =",y,", 3rd Number =",z)
if x>y and x>z:
  print("The 1st number is the greatest among three.")
elif y>x and y>z:
  print("The 2nd number is the greatest among three.")
else:
  print("The 3rd number is the greatest among three.")

12 25 57
1st Number = 12 , 2nd Number = 25 , 3rd Number = 57
The 3rd number is the greatest among three.

#20. Write a python program to check whether a triangle is Equilateral, Isosceles or Scalene

Sample input: 50 50 60

Expected Output: This is an isosceles triangle.

In [ ]:
a,b,c=input().split()
x=int(a)
y=int(b)
z=int(c)
if x==y and y==z and x==z:
  print("This is an equilateral triangle.")
elif x==y or y==z or z==x:
  print("This is an isosceles triangle.")
else:
  print("This is an scalene triangle.")

50 50 60
This is an isosceles triangle.

#21. Write a program in python which is a Menu-Driven Program to perform a simple calculation.
Sample input:

10

2

3

Expected Output: The Multiplication of 10 and 2 is: 20

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if c==1:
  print(a+b)
elif c==2:
  print(a-b)
elif c==3:
  print(a*b)
elif c==4:
  print(a/b)
else:
  print("Give a 3rd number (1-4).")

10
2
5
Give a number 1-4.

#22. Write a python program to check whether an alphabet is a vowel or consonant. 
Sample input: k

Expected Output: The alphabet is a consonant.

In [ ]:
alp=input()
vowel="aeiouAEIOU"
if alp in vowel:
  print("The alphabet is a vowel.")
else:
  print("The alphabet is a consonant.")

a
The alphabet is a vowel.

#23. Write a python program to read marks of three subjects and calculate the total, percentage and division.
Sample input:

Input the marks of Physics, Chemistry and Computer Application: 70 80 90

Expected Output:

Roll No: 784

Name of Student: James

Marks in Physics: 70

Marks in Chemistry: 80

Marks in Computer Application: 90

Total Marks = 240

Percentage = 80.00

Division = First

In [ ]:
roll=int(input("Roll No: "))
name=input("Name of Student: ")
phy=int(input("Marks in physics: "))
che=int(input("Marks in Chemistry: "))
cse=int(input("Marks in Computer Application: "))
per=(phy+che+cse)/3
print("Total Marks =",(phy+che+cse))
print("Percentage =",per)
if per>=80 and per<=100:
  print("Division = First")
else:
  print("Division = Second") # I could give more condition if i wanted but it would be a waste of time.

Roll No: 784
Name of Student: Mahid
Marks in physics: 70
Marks in Chemistry: 80
Marks in Computer Application: 90
Total Marks = 240
Percentage = 80.0
Division = First

#Loop
#24. Write a program in python to display the first 10 natural numbers.
Expected Output:
1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(1,11):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

#25. Write a program in python to display n terms of natural number and their sum.
Sample input: 7

Expected Output:

The first 7 natural number is:

1 2 3 4 5 6 7

The Sum of Natural Number up to 7 terms: 28

In [ ]:
n=int(input())
sum=0
print("The first",n,"natural number is:")
for i in range(1,n+1):
  sum+=i
  print(i,end=" ")

print("\nThe Sum of Natural Number up to",n,"terms:",sum)

7
The first 7 natural number is:
1 2 3 4 5 6 7
The Sum of Natural Number up to 7 terms: 28

#26. Write a program in python to display the cube of the number up to given an integer. 
Sample input:

Input number of terms: 5

Expected Output:

Number is: 1 and cube of the 1 is :1

Number is: 2 and cube of the 2 is :8

Number is: 3 and cube of the 3 is :27

Number is: 4 and cube of the 4 is :64

Number is: 5 and cube of the 5 is :125

In [ ]:
n=int(input("Input number of terms: "))
for i in range(1,n+1):
  print("Number is:",i,"and cube of the",i,"is :",i**3)

Input number of terms: 5
Number is: 1 and cube of the 1 is : 1
Number is: 2 and cube of the 2 is : 8
Number is: 3 and cube of the 3 is : 27
Number is: 4 and cube of the 4 is : 64
Number is: 5 and cube of the 5 is : 125

#27. Write a program in python to display the multiplication table of a given integer.
Sample input:

Input the number (Table to be calculated): 15

Expected Output:

15 X 1 = 15
...
... 

15 X 10 = 150

In [ ]:
n=int(input("Input the number (Table to be calculated):"))
for i in range(1,11):
  print(n,"X",i,"=",n*i)

Input the number (Table to be calculated):15
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

#28. Write a program in python to display the pattern like right angle triangle using an 
asterisk. 
The pattern like:

*

**

***

****

In [ ]:
n=int(input())
x="*"
for i in range(n+1):
  print(i*x)

5

*
**
***
****
*****

#29. Write a program in python to make such a pattern like right angle triangle with a number 
which will repeat a number in a row. 

The pattern like:

1

22

333

4444

In [ ]:
n=int(input("Enter a number for pattern:"))
m=""
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end=" ")
  print(m)

Enter a number for pattern:4
1
2 2
3 3 3
4 4 4 4

#30. Write a program in python to make such a pattern like a pyramid with numbers increased 
by 1

The pattern like:

1 

2 3

4 5 6
 
7 8 9 10

In [ ]:
n=int(input("How many row you want?:"))
num=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num,end=" ")
    num+=1
  print()

How many row you want?:4
1
2 3
4 5 6
7 8 9 10

#31. Write a program in python to display the sum of the series [ 9 + 99 + 999 + 9999 ...].
Sample:

Input the number or terms :5

Expected Output :
9 99 999 9999 99999

The sum of the saries = 111105

In [ ]:
n=int(input("Input the number or terms :"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(9,end="")
  print(end=" ")
Sn=int(((10/9)*((10**n)-1)-n))
print("\nThe sum of the saries =",Sn)

Input the number or terms :5
9 99 999 9999 99999
The sum of the saries = 111105

#32. Write a python program to check whether a given number is an armstrong number or not. 
Sample:

Input a number: 153

Expected Output:
153 is an Armstrong number.

In [ ]:
num = int(input("Enter a number: "))
sum=0
temp = num

n = len(str(num))
  
while temp > 0:
    digit = temp % 10
    sum += digit ** n
    temp //= 10
if sum == num:
    print(num,'is an Armstrong Number')
else:
    print(num,'is not an Armstrong Number')

Enter a number: 153
153 is an Armstrong Number

#33. Write a python program to display Pascal’s triangle. 
Sample:

Input number of rows: 5

Expected Output:

1

1 1

1 2 1 

1 3 3 1

1 4 6 4 1

In [ ]:
# This problem is very difficult and hard.i don't know how to solve this problem...

Enter a number: 5
1
1   1
1   2   4
1   3   12   36
1   4   24   144   576

#Break Continue
#34. The print statement after the for loop displays the sum of first 5 elements of the tuple numbers.
Output: sum of the first 5 integers is :15

In [ ]:
n=0
for i in range(1,6):
  n+=i
print(n)

15

#35. The continue statement is used in a while or for loop to take the control to the top of the loop without executing the rest statements inside the loop
Output:

0

1

2

3

In [ ]:
#I can't understand this question...

#36. Write a while loop to display each character from a string and if a character is a space then terminate the loop.
Input: SAGACITI AI

Output: S A G A C I T I

In [ ]:
x=input()
sen=x.split(" ")[0]
i=0
n=len(sen)
while (i<n):
  if i==(n-1):
    print(sen[i],end=" ")
  else:
    print(sen[i],end=" ")
  i+=1

sa ga
s a

#37. Write a while loop to display each character from a string and if a character is a space, then don’t display it and move to the next character.
Input: SA GA CITI
Output: S A G A C I T I

In [ ]:
x=input()
y=x.replace(" ","")
print(" ".join(y))

SA GA CITI
S A G A C I T I

#Range ()

#38. Create a range from 0 to 10 with steps of 2.

In [ ]:
for i in range(0,11,2):
  print(i,end=" ")

0 2 4 6 8 10

#39. Create a range from 100 to 160 with steps of 10. Then print it as a list.

In [ ]:
li=[]
for i in range(100,170,10):
  li.append(i)
print(li)

[100, 110, 120, 130, 140, 150, 160]

#40. Can you create a list from 1300 to 700 with descending steps of 100? Is your stop value included in the list?

In [ ]:
li=[]
for i in range(1300,600,-100):
  li.append(i)
print(li)

[1300, 1200, 1100, 1000, 900, 800, 700]

#41. Create a range from 0 to 50, excluding 50

In [ ]:
for i in range(0,50):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

#**COLLECTION PROBLEM**
## 2nd page

1.Write a Python program to find the most common element of a given list.

Sample Output:

Original list:

['PHP', 'PHP', 'Python', 'PHP', 'Python', 'JS', 'Python', 'Python', 'PHP', 'Python']

Most common element of the said list:
Python

In [ ]:
from statistics import mode
n=int(input("How many numbers you want in list?: "))
list1=[]
for i in range(n):
  list1.append((input()))
print("Your list is :",list1)
print(mode(list1))

How many numbers you want in list?: 4
php
python
c
python
Your list is : ['php', 'python', 'c', 'python']
python

4. Write a Python program to merge more than one dictionary in a single 
expression.

Sample Output:

Original dictionaries:

{'R': 'Red', 'B': 'Black', 'P': 'Pink'} {'G': 'Green', 'W': 'White'}

Merged dictionary:

{'B': 'Black', 'R': 'Red', 'P': 'Pink', 'G': 'Green', 'W': 'White'}

Original dictionaries:

{'R': 'Red', 'B': 'Black', 'P': 'Pink'} {'G': 'Green', 'W': 'White'} {'O': 'Orange', 'W': 
'White', 'B': 'Black'}

Merged dictionary:

{'B': 'Black', 'R': 'Red', 'P': 'Pink', 'G': 'Green', 'W': 'White', 'O': 'Orange'}

In [ ]:
import collections as ct
def merge_dictionaries(color1,color2):
    merged_dict = dict(ct.ChainMap({}, color1, color2))
    return merged_dict
color1 = { "R": "Red", "B": "Black", "P": "Pink" }
color2 = { "G": "Green", "W": "White" }
print("Original dictionaries:")
print(color1,' ',color2)
print("\nMerged dictionary:")
print(merge_dictionaries(color1, color2))

def merge_dictionaries(color1,color2, color3):
    merged_dict = dict(ct.ChainMap({}, color1, color2, color3))
    return merged_dict

color1 = { "R": "Red", "B": "Black", "P": "Pink" }
color2 = { "G": "Green", "W": "White" }
color3 = { "O": "Orange", "W": "White", "B": "Black" }

print("\nOriginal dictionaries:")
print(color1,' ',color2, color3)
print("\nMerged dictionary:")
# Duplicate colours have automatically removed.
print(merge_dictionaries(color1, color2, color3))

Original dictionaries:
{'R': 'Red', 'B': 'Black', 'P': 'Pink'}   {'G': 'Green', 'W': 'White'}

Merged dictionary:
{'G': 'Green', 'W': 'White', 'R': 'Red', 'B': 'Black', 'P': 'Pink'}

Original dictionaries:
{'R': 'Red', 'B': 'Black', 'P': 'Pink'}   {'G': 'Green', 'W': 'White'} {'O': 'Orange', 'W': 'White', 'B': 'Black'}

Merged dictionary:
{'O': 'Orange', 'W': 'White', 'B': 'Black', 'G': 'Green', 'R': 'Red', 'P': 'Pink'}

6.Write a Python program to find the item with maximum frequency in a given 
list.

Sample Output:

Original list:

[2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 2, 4, 6, 9, 1, 2]

Item with maximum frequency of the said list:
(2, 5)

In [ ]:
test_list = [2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 2, 4, 6, 9, 1, 2]
y=str(test_list)
# printing original list
print ("Original list : " + y)
  
# using naive method to 
# get most frequent element
max = 0
res = test_list[0]
for i in test_list:
    freq = test_list.count(i)
    if freq > max:
        max = freq
        res = i
      
# printing result
x=str(res)
z=y.count(x)

print ("Most frequent number is : (",x,",",z,")")

Original list : [2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 2, 4, 6, 9, 1, 2]
Most frequent number is : ( 2 , 5 )

7.Write a Python program to count most and least common characters in a given 
string.

Sample Output:

Original string:

hello world

Most common character of the said string: l

Least common character of the said string: h

In [21]:
string = "hello world";  
freq = [None] * len(string);  
minChar = string[0];  
maxChar = string[0];  
   
#Count each word in given string and store in array freq  
for i in range(0, len(string)):  
    freq[i] = 1;  
    for j in range(i+1, len(string)):  
        if(string[i] == string[j] and string[i] != ' ' and string[i] != '0'):  
            freq[i] = freq[i] + 1;  
              
            #Set string[j] to 0 to avoid printing visited character  
            string = string[ : j] + '0' + string[j+1: ];  
              
#Determine minimum and maximum occurring characters  
min = max = freq[0];  
for i in range(0, len(freq)):  
      
    #If min is greater than frequency of a character  
    #then, store frequency in min and corresponding character in minChar  
    if(min > freq[i] and freq[i] != '0'):  
        min = freq[i];  
        minChar = string[i];  
    #If max is less than frequency of a character   
    #then, store frequency in max and corresponding character in maxChar  
    if(max < freq[i]):  
        max = freq[i];  
        maxChar = string[i];  
print("hello world")  
print("Minimum occurring character: " + minChar);  
print("Maximum occurring character: " + maxChar);

hello world
Minimum occurring character: h
Maximum occurring character: l

8.Write a Python program to insert an element at the beginning of a given 
OrderedDictionary.

Sample Output:

Original OrderedDict:

OrderedDict([('color1', 'Red'), ('color2', 'Green'), ('color3', 'Blue')])

Insert an element at the beginning of the said OrderedDict:

Updated OrderedDict:

OrderedDict([('color4', 'Orange'), ('color1', 'Red'), ('color2', 'Green'), ('color3', 
'Blue')]

In [22]:
from collections import OrderedDict
color_orderdict = OrderedDict([('color1', 'Red'), ('color2', 'Green'), ('color3', 'Blue')]) 
print("Original OrderedDict:")
print(color_orderdict)
print("Insert an element at the beginning of the said OrderedDict:")
color_orderdict.update({'color4':'Orange'})
color_orderdict.move_to_end('color4', last = False)
print("\nUpdated OrderedDict:")
print(color_orderdict)

Original OrderedDict:
OrderedDict([('color1', 'Red'), ('color2', 'Green'), ('color3', 'Blue')])
Insert an element at the beginning of the said OrderedDict:

Updated OrderedDict:
OrderedDict([('color4', 'Orange'), ('color1', 'Red'), ('color2', 'Green'), ('color3', 'Blue')])

9. Write a Python program to get the frequency of the tuples in a given list.

Sample Output:

Original list of tuples:

[(['1', '4'], ['4', '1'], ['3', '4'], ['2', '7'], ['6', '8'], ['5', '8'], ['6', '8'], ['5', '7'], ['2', '7'])]

Tuples frequency

('1', '4') 2

('3', '4') 1

('2', '7') 2

('6', '8') 2

('5', '8') 1

('5', '7') 1

In [23]:
from collections import Counter
nums = [(['1', '4'], ['4', '1'], ['3', '4'], ['2', '7'], ['6', '8'], ['5','8'], ['6','8'], ['5','7'], ['2','7'])]
print("Original list of tuples:")
print(nums)
result = Counter(tuple(sorted(i)) for i in nums[0])
print("\nTuples","    ","frequency")
for key,val in result.items():
    print(key," ", val)

Original list of tuples:
[(['1', '4'], ['4', '1'], ['3', '4'], ['2', '7'], ['6', '8'], ['5', '8'], ['6', '8'], ['5', '7'], ['2', '7'])]

Tuples      frequency
('1', '4')   2
('3', '4')   1
('2', '7')   2
('6', '8')   2
('5', '8')   1
('5', '7')   1

9.Write a Python program to calculate the maximum aggregate from the list of 
tuples (pairs).

Sample Output:

Original list:

[('Juan Whelan', 90), ('Sabah Colley', 88), ('Peter Nichols', 7), ('Juan Whelan', 
122), ('Sabah Colley', 84)]

Maximum aggregate value of the said list of tuple pair:
('Juan Whelan', 212)

In [29]:
# pari naa

10.Write a Python program to find the characters in a list of strings which occur 
more than and less than a given number.

Sample Output:

Original list:

['abcd', 'iabhef', 'dsalsdf', 'sdfsas', 'jlkdfgd']

Characters of the said list of strings which occur more than: 3

['a', 'd', 'f']

Characters of the said list of strings which occur less than: 3

['c', 'b', 'h', 'e', 'i', 's', 'l', 'k', 'j', 'g']

In [30]:
from collections import Counter 
from itertools import chain 
def max_aggregate(list_str, N):
    temp = (set(sub) for sub in list_str) 
    counts = Counter(chain.from_iterable(temp)) 
    gt_N =  [chr for chr, count in counts.items() if count > N]
    lt_N =  [chr for chr, count in counts.items() if count < N]
    return gt_N, lt_N
     
list_str = ['abcd', 'iabhef', 'dsalsdf', 'sdfsas', 'jlkdfgd'] 
print("Original list:")
print(list_str)
N = 3
result = max_aggregate(list_str, N)
print("\nCharacters of the said list of strings which occur more than:",N)
print(result[0])
print("\nCharacters of the said list of strings which occur less than:",N)
print(result[1])

Original list:
['abcd', 'iabhef', 'dsalsdf', 'sdfsas', 'jlkdfgd']

Characters of the said list of strings which occur more than: 3
['a', 'd', 'f']

Characters of the said list of strings which occur less than: 3
['c', 'b', 'h', 'e', 'i', 's', 'l', 'j', 'k', 'g']

11. Write a Python program to find the difference between two list including 
duplicate elements. Use collections module.

Sample Output:

Original lists:
[3, 3, 4, 7]

In [31]:
from collections import Counter
l1 = [1,1,2,3,3,4,4,5,6,7]
l2 = [1,1,2,4,5,6]
print("Original lists:")
c1 = Counter(l1)
c2 = Counter(l2)
diff = c1-c2
print(list(diff.elements()))

Original lists:
[3, 3, 4, 7]